@import '_content/Entities/Entities.ct2sqec9nk.bundle.scp.css';
@import '_content/Repositories/Repositories.utkuifjbey.bundle.scp.css';

/* _content/Services/Component1.razor.rz.scp.css */
.my-component[b-cwlwnigqnh] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
